*{
    padding: 0;
    margin: 0;
}

body{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 198, 243);
}

h2, p{
    color: white;
    margin-top: 15px;
}

p{
    margin-bottom: 15px;
}

img{
    border-radius: 5px;
}