{% extends '_theme.html' %}

{% block content %}

<h2>Meus Shortlinks</h2>

{% if page.action == 'del' %}

<blockquote>Shortlink apagado!</blockquote>

{% elif page.action == 'upd' %}

<blockquote>Shortlink atualizado!</blockquote>

{% endif %}

{% for short in page.shortlinks %}

<h3>
    {{ short.id }} - {{ short.name }} &rarr; {{ short.short }}<br>
    <small><a href="{{ page.root_link }}/{{ short.short }}" target="_blank">{{ page.root_link }}/{{ short.short }}</a></small>
</h3>
<ul>
    <li>Link original: <a href="{{ short.link }}" target="_blank">{{ short.link }}</a></li>
    <li>Criado em {{ short.datebr }}</li>
    <li>Expira em {{ short.expirebr }}</li>
    <li>{{ short.views }} acessos</li>
    <li>
        Ações:
        <button title="Editar este shortlink" onclick="location.href='/edit/{{ short.id }}'">&#9998;</button>
        <button title="Apagar este shortlink" onclick="if(confirm('Tem certeza que deseja apagar o shortlink \'{{ short.name }}\'?')) location.href='/del/{{ short.id }}'; else return false">&#128465;</button>
    </li>
</ul>

{% endfor %}

{% endblock %}